body{
  background-color: rgb(1, 1, 52);
  color: white;
  font-family:'poppins',sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(28, 28, 103);
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li{
  list-style: none;
  margin: 0 23px;
}
.left{
  font-size: 1.5rem;
}
.firstSection{
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
}
.firstSection div{
  width: 30%;
}
.leftSection{
  background-color: red;
}
.rightSection{
  background-color: red;
}